/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Style header */
header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Style product section */
.product {
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.product img {
    max-width: 100%;
}

.price {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* Style footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #f4f4f4;
}
.ul:hover{
    color: #333;
}
